@font-face {
  font-family: Pony;
  src: url('../fonts/Pony.ttf');
}

:root {
  --main-color: #005bbd;
}

.item.item-carousel {
  /*width: 200px;*/
  display: inline-block;
  vertical-align: top;
}

.price-box .price {
  font-size: 30px;
  font-weight: 600;
}

.price-box .price-strike {
  color: #aaa;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  text-decoration: line-through;
  vertical-align: top;
  margin-left: 10px;
}

.price {
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 700;
  color: var(--main-color) !important;
}

.view-more {
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color);
  padding: 5px 20px;
  border-radius: 4px;
}

.justify-content-center {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.top-bar .cnt-block {
  padding: 5px !important;
}

.top-bar .cnt-block .hotline {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  letter-spacing: 0.2px;
}

.latest-blog .item {
  display: inline-block;
  width: 330px;
  vertical-align: top;
}

.list-inline > li {
  vertical-align: top;
}

.single-product-gallery-thumbs .item {
  display: inline-block;
  width: 70px;
  margin-right: 5px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #005bbdbf;
  box-shadow: 0 1px 5px 0 #005bbdbf;
}

.size-choose div {
  display: inline-block;
  margin: 0 5px 2px 0;
}

.size-choose input[type="radio"] {
  display: none;
}

.size-choose input[type="radio"] + label span {
  display: table-cell;
  height: 35px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  padding: 7px 10px;
  text-align: center;
  font-weight: normal;
}

.size-choose input[type="radio"]:checked + label span {
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #005bbdbf;
  box-shadow: 0 1px 5px 0 #005bbdbf;
}

.list ul li {
  margin: 14px 0;
}

.list a {
  color: #333;
}

.main-header .top-search-holder .search-area .search-btn {
  border-radius: 0px 999px 999px 0px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 19px 25px 19px;
  text-align: center;
  background-color: #fdd922;
}

.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir i.icon.fas.fa-sort-up {
  top: 8px;
}

.float-left {
  float: left !important;
}

i.fa-star.fas {
  color: #f0ad4e;
}

i.fa-star.far {
  color: #f0ad4e;
}

section.section.related-product {
  background: #fff;
  border-radius: 0 6px 6px 0;
}

.no-padding {
  padding: 0 !important;
}

figure {
  height: auto !important;
}

.steps-form {
  display: table;
  width: 100%;
  position: relative;
}

.steps-form .steps-row {
  display: table-row;
}

.steps-form .steps-row:before {
  top: 27px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}

.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.steps-form .steps-row .steps-step .btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  margin-top: 0;
}

.steps-form .btn-indigo {
  color: #fff;
  background-color: #3f51b5 !important;
}

.steps-form .btn-default {
  color: #fff;
  background-color: #2bbbad !important;
}

i.fas.fa-shopping-cart,
i.fas.fa-shopping-basket,
i.far.fa-check-circle {
  font-size: 25px;
  margin-top: 5px;
}

.shopping-cart .cart-shopping-total table tbody tr td .cart-grand-total {
  font-size: 16px;
  font-weight: 600;
}

.wrap-total-cart {
  margin-top: 20px;
}

.wrap-total-cart .container .content-total ul li {
  display: inline-block;
  text-align: right;
  width: 48%;
}

.wrap-total-cart .container .content-total ul li p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.wrap-total-cart .container .content-total ul li h6 {
  font-size: 16px;
  font-weight: 500;
  color: red;
}

.content-text p {
  font-size: 14px;
}

.coupon-code input {
  width: 80%;
  float: left;
  margin-right: 20px;
  height: 40px;
}

.w-product {
  max-height: 224px;
  overflow: scroll;
}

.pagination {
  float: right;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.logo-text {
  color: #fff;
  font-size: 35px;
  vertical-align: middle;
  margin-left: 10px;
  font-family: Pony;
  margin-top: 10px;
  display: inline-block;
}

.policy {
  display: inline-block;
  padding: 20px;
  border: solid 1px #dfdfdf;
  margin: 20px;
  border-radius: 5px;
  height: 200px;
  vertical-align: top;
}

.policy-info {
  display: inline-block;
  background: #fff;
  margin-top: 30px;
  width: 100%;
}
.policy.no-mobile span {
  display: inline-block;
  width: 100%;
  line-height: 2;
}
.policy.no-mobile h3 {
  margin: 0;
  line-height: 2;
}
ul.td-tags.td-post-small-box.clearfix {
  text-align: center;
  background: #2e353b;
  margin-top: 20px;
}
ul.td-tags.td-post-small-box.clearfix li {
  display: inline-block;
}
ul.td-tags.td-post-small-box.clearfix li a, span {
  color: #bbb7b7;
  padding: 3px;
  margin: 3px;
  border-radius: 2px;
}
